
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/s/xczx2h5yrtk4pco/Above_55_2018-08-23-16%3A47.ipa?raw=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.sigono.above01</string>
                <key>bundle-version</key>
                <string>0.6.0</string>
                <key>title</key>
                <string>Above #55</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>