
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/s/upj6jkf5tszwy7g/Heaven_1034_2018-12-15-02%3A46.ipa?raw=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.sigono.heaven01.cn</string>
                <key>bundle-version</key>
                <string>4.1.0</string>
                <key>title</key>
                <string>Heaven #1034</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>