
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/s/lt8y442ixdk1193/Heaven_1622_2020-05-08-10%3A44.ipa?raw=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.sigono.heaven01</string>
                <key>bundle-version</key>
                <string>4.6.2</string>
                <key>title</key>
                <string>Heaven #1622</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>